[Unit]
Description=Rpi alti: python, vlc, yoctopuce altimeter program

[Service]
Environment="DISPLAY=:0"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
#change this on computemodule
User=pi
#change this on computemodule
ExecStart=/home/pi/Documents/rpi-alti/run.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical.target