[Desktop Entry]
Version=1.0
Name=Start player
Comment=Run python script for altiplayer with command line arguments
Exec=python3 /home/pi/Documents/rpi-alti/main.py -v="/home/pi/Desktop/3NY_PALMER.mp4" -k=True -t=True -p=5 -a="/home/pi/Desktop/DAG.mp3"
Icon=utility-terminal
Terminal=false
Type=Application
Categories=Utility;Application;